In [ ]:
# ENR145 modular 1: let's do hamming extended encoding without any external python library.

In [14]:
# we need a data format to store 11 bits and 16 bits of data, how?
input_data_1 = 11000100010 # decimal number (or binary number)?
input_data_2 = "11000100010" # string
input_data_3 = [1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0] # a number list aka array

print (type(input_data_1)) # this is the way to check data type
print (type(input_data_2))
print (type(input_data_3))
# print (len(input_data_1))
print (len(input_data_2)) # this is the way to check data lenght when applicable
print (len(input_data_3))

# string and list are more desirable than interger for our application, why?
# python does have other "data strucutre" types, such as Tuple and Set

<class 'int'>
<class 'str'>
<class 'list'>
11
11

In [ ]:
# Because they are used not for arithmatic math, so they can be used for infomation storage
# and each item in 'str' and 'list' are all 0 indexed

# the first number in input_data_2 is:
##TODO

# the last number in input_data_3 is:
##TODO

In [ ]:
# practice assign number into number array:
test_array = [0,0,0,0,0]
# how to flip the third number to 1?
##TODO

test_string = "00000"
# flip the third 0 to 1?
##TODO

In [ ]:
# any issues?
# string in python is immunable, aka the "index operation" is tricky

In [16]:
# if there are only numbers in the array (i.e. list), we can do math:
all_numbers = [1,2,1]
# uncomment out each fucntion and see what it do

#sum(all_numbers)
#min(all_numbers)
#max(all_numbers)
#len(all_numbers)
#(all_numbers)*2

In [83]:
# let's test boolean operation in python
# XOR is ^
0b1^0b1

0

In [84]:
0b1^0b0

1

In [85]:
0b0^0b0

0

In [88]:
# how about decimal?
1^2

3

In [89]:
# how about hex?
0xF^0xA

5

In [78]:
# with prelabs in Karel the Robot, can you do the IF loop on your own?
if 1+1==2:
  print (1)
else:
  print (0)

1

In [20]:
# let's learn the For Loop: iteration over a range, sring ,etc
for index_1 in (1,2,3):
   print (index_1)

1
2
3

In [23]:
# how to print 1,2,3 with this range?
for index_2 in range (1,3):
   print (index_2)

1
2

In [38]:
# how to print 2.4.6.8.10?
for index_3 in range (1,10,2):
   print (index_3)

1
3
5
7
9

In [37]:
# how to print 3,2,1 with range?
for index_4 in range (3,1):
   print (index_4)

In [49]:
# double for loops:
for i in range (1,3):
   for j in range (0b00, 0b11):
      print (i)

1
1
1
2
2
2